body {
    margin: 0;
    padding: 0;
    font-family: "RobotoDraft","Roboto", Arial, sans-serif;
    font-size: 16px;
    background-color: #FAFAFA;
    color: #212121;
}

.block-content {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    display:block;
    clear: both;
}
a{
    color: #039BE5;
    text-decoration: none;
}
a:hover{
    color:#F57C00;
    text-decoration: underline;
}

table{background-color: #fff;border-spacing: 0px !important;border-collapse: collapse !important;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
tr{border-spacing: 0px;border-collapse: collapse;background-color: #fff;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
th{padding: 0 1rem;border-bottom: 1px solid #757575;background-color: #E0E0E0;color: #212121;line-height: 2rem;}
td{padding: 0.5rem 1rem;border-bottom: 1px solid #757575;}

html {
    overflow-y: scroll;
}