.days-day-name {
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #fff;
}

.days-day {
    margin-bottom: 2rem;
}

.days-list {
    padding-bottom: 2rem;
}

.days-paty {
    padding: 1rem 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #fff;
    position: relative;
}
.days-paty.hover {
    z-index: 2;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
}

.days-paty-time {
    float: left;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #9E9E9E;
}

.days-paty-name {
    margin-left: 5rem;
}

.days-paty-no {
    /* float: right; */
    /* clear: right; */
    color: #FF3D00;
    /* font-size: 1.2rem; */
}

.days-paty-yes {
    /* float: right; */    
    /* clear: right; */    
    color: #64DD17;    
    /* font-size: 1.2rem; */
}

.days-paty-abcent {
    /* float: right; */    
    /* clear: right; */    
    color: #BDBDBD;    
    /* font-size: 1.2rem; */
}

.days-paty-info {
    float: left;
    clear: left;
}

.days-paty-info-item {
    display: inline;
}

a {}

.days-paty-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}